/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #E63946;
  --secondary-color:              #F1FAEE;
  --section-bg-color:             #ececec;
  --primary-bg-color:             #E63946;
  --custom-btn-bg-color:          #A8DADC;
  --custom-btn-bg-hover-color:    #1D3557;
  --heading-color:                #1D3557;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #e0e0e5;
  --link-hover-color:             #E63946;

  --body-font-family:             'Unbounded';

  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --menu-font-size:               14px;
  --btn-font-size:                12px;
  --copyright-font-size:          10px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.navbar {
  position: sticky;
  top: 0;
  background: var(--custom-btn-bg-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 30px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.notifications {
  margin-right: 20px;
}

.profile {
  position: relative;
}

.profile-link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  justify-content: flex-start;
  padding: 0.6rem;
  cursor: pointer;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: none;
  z-index: 1;
}

.dropdown a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  padding: 5px;
}

.dropdown a i {
  margin-right: 5px;
}

.dropdown a:hover {
  background-color: var(--custom-btn-bg-color);
}

.show  {
  display: block ;
}

#balanceCard {
  /* background-color: #f1f1f1; */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#balanceCard h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

#balanceCard p {
  color: #666;
  font-size: 18px;
}

#transactionCard {
  /* background-color: #f1f1f1; */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#transactionCard h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

#transactionCard ul {
  list-style-type: none;
  padding: 0;
}

#transactionCard li {
  color: #666;
  font-size: 18px;
  margin-bottom: 10px;
}

#transactionCard a {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

#transactionCard a:hover {
  text-decoration: underline;
}

.bottom-nav {
  background: var(--custom-btn-bg-color);
  border-radius: var(--border-radius-small);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 24px; */
  padding: 20px;
  text-align: center;
}

.bottom-nav.custom-block-bottom small {
  text-transform: none;
  color: var(--p-color);
  font-size: var(--btn-font-size);
  text-transform: uppercase;
}

.custom-block-bottom-item {
  flex: auto;
}

.custom-block-icon {
  background: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--h6-font-size);
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--dark-color);
  display: block;
  margin: auto;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.custom-block-icon:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}
